.app {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.app__logo {
  height: 5vmin;
  pointer-events: none;
}

.app__nav, .app__event-container {
  background-color: #dff5ff;
}

.app__header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app__link {
  color: #0065de;
  text-decoration: none;
}

.events .event, .event-container {
  position: relative;
  list-style-type: none;
  display: flex;
  color: #00202d;
}

img:not(.app__logo) {
  border-radius: 50%;
}

.app__link:not(:last-child) .event:after {
  content: '';
  width: 80%;
  height: 1px;
  background: gray;
  position: absolute;
  bottom: -4px;
}

.events .event img {
  max-width: 30px;
  max-height: 30px;
  padding: 15px;
}

.events .event div {
  text-align: left;
}

.app__event-container {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  align-items: center;
  padding-top: 5%;
  height: 100vw;
  animation: fadeInAnimation ease .5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.app__event-container > div:not(:first-child) {
  display: none;
}

/* NOTE: Bem-style CSS could look like this on an SCSS-functional dev machine.
.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  &__logo {
    height: 5vmin;
    pointer-events: none;
  }
  &__nav,
  &__event-container {
    background-color: #dff5ff;
  }

  &__header {
    background-color: #282c34;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  &__link {
    color: #0065de;
    text-decoration: none;
    &:not(:last-child) .event:after {
      content: '';
      width: 80%;
      height: 1px;
      background: gray;
      position: absolute;
      bottom: -4px;
    }
  }

  img:not(.app__logo) {
    border-radius: 50%;
  }

  &__event-container {
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: center;
    padding-top: 5%;
    height: 100vw;
    animation: fadeInAnimation ease .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    position: relative;
    list-style-type: none;
    display: flex;
    color: #00202d;
    > div {
      text-align: left;
      &:not(:first-child) {
        display: none;
      }
    }

    img {
      max-width: 30px;
      max-height: 30px;
      padding: 15px;
    }
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
*/